pandas==1.2.0
scikit-learn==0.24.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-text==2.0.1
tensorflow-hub==0.11.0
tika==1.24
transformers==3.0.0
streamlit==0.63.0
seaborn==0.11.1
azure-storage-blob==12.3.0
python-multipart==0.0.5
elasticsearch==7.7.0
elasticsearch-dsl==7.2.0
pytest==6.2.1
uvicorn==0.13.3
fastapi==0.54.0
mock==4.0.2
minio==6.0.2
python-dotenv==0.15.0
click==7.1.2
simpleneighbors==0.1.0
sphinx_rtd_theme==0.5.1
